@page "/publisher/{id:int}/edit"
@model eBookStoreApp.Pages.Publisher.EditModel
@{
    ViewData["Title"] = "Edit Publisher";
}
<div class="container">
    <h1>Edit Publisher</h1>

    <form method="post">
        <input id="id" class="form-control" type="hidden" asp-for="PublisherUpdate.Id" value="@Model.Publisher.Id" />
        <div class="form-group">
            <label for="inputName">Name</label>
            <input id="inputName" class="form-control" type="text" asp-for="PublisherUpdate.Name" value="@Model.Publisher.Name" />
        </div>

        <div class="form-group">
            <label for="inputCity">City</label>
            <input id="inputCity" class="form-control" type="text" asp-for="PublisherUpdate.City" value="@Model.Publisher.City" />
        </div>

        <div class="form-group">
            <label for="inputState">State</label>
            <input id="inputState" class="form-control" type="text" asp-for="PublisherUpdate.State" value="@Model.Publisher.State" />
        </div>

        <div class="form-group">
            <label for="inputCountry">Country</label>
            <input id="inputCountry" class="form-control" type="text" asp-for="PublisherUpdate.Country" value="@Model.Publisher.Country" />
        </div>

        <button type="submit" class="btn btn-primary mt-3">Save</button>
    </form>
</div>